*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: rgb(75, 8, 127);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    color:#fff
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.row{
     padding: 0.5rem;
     font-size: 2rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
     border: 2px solid rgb(116, 114, 114);
     margin-top: 1rem;
     border-radius: 7px;
     cursor: pointer;
}
.row span{
    margin:0.5rem;
}
.row :nth-child(2),:nth-child(3){
font-weight: bold;
}
.row :nth-child(1){
   color: yellow;
}
.row :nth-child(2) ,:nth-child(4){
    cursor: pointer;
}
.trash{
  
   color: rgb(230, 225, 225) !important

}
.tomato{
   background:tomato;

}
i{
    cursor: pointer;
    color:#fff;
    margin-top: 5px;
}
p{
    color:#fff;
    font-size: 2rem;
}